app:
  name: staff_manager_api
  version: 1.0.0

oauth2:
  resource-server:
    jwt:
      issuer-uri-collab: https://keycloak.check-consulting.net/auth/realms/staff-manager-collab
      issuer-uri-admin: https://keycloak.check-consulting.net/auth/realms/staff-manager-admin

spring:
  jpa:
    database: postgresql
    hibernate:
      ddl-auto: validate
      naming:
        strategy: org.hibernate.cfg.ImprovedNamingStrategy
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
  servlet:
    multipart:
      max-file-size: 10MB
  profiles:
    active: int



aws:
  region: us-east-2


javamelody:
  enabled: true
  excluded-datasources: secretSource,topSecretSource
  spring-monitoring-enabled: true
  init-parameters:
    log: false