app:
  name: staff_manager_api
  version: 1.0.0

oauth2:
  resource-server:
    jwt:
      issuer-uri-collab: http://ci.check-consulting.net:10000/auth/realms/staff-manager-collab
      issuer-uri-admin: http://ci.check-consulting.net:10000/auth/realms/staff-manager-admin

spring:
  servlet:
    multipart:
      max-file-size: 10MB
  profiles:
    active: int



# AWS
aws:
  access-key-id: AKIAS7WDEOQ4EJUQXRA4
  secret-access.key: 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
  region: us-east-1



javamelody:
  enabled: true
  excluded-datasources: secretSource,topSecretSource
  spring-monitoring-enabled: true
  init-parameters:
    log: true
